.counter{
    display:flex;
    flex-direction:column;
    width:50%;
    margin:0 auto;
    height:30vh;
    justify-content:space-evenly;
    background:rgb(236, 110, 72);
    border-radius: 50px;
    align-items:center;
}